<p id="notice"><%= notice %></p>

<table class="table">
  <tbody>
    <tr>
      <td>
        <form>
          <div class="form-group" id="left">
            <label for="filtrer">Filtrer:</label>
            <% @tags.each do |tag| %>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                   Tag <%= tag.niveau %>
                </label>
              </div>
            <% end %>
          </div>
          <div class="form-group" id="right">
            <label for="tri">Tri par:</label>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                 Prix
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                 Poids
              </label>
            </div>
            <button class="btn btn-default" type="submit">GO</button>
          </div>
        </form>
      </td>
      <td>
        <form name="sform" class="form-inline">
          <input class="form-control" type="text" placeholder="Rechercher">
          <button class="btn btn-default" type="submit">OK</button>
        </form>
      </td>
    </tr>
  </tbody>
</table>
<table class="table">
  <tbody>
    <% @produits.each do |produit| %>
      <tr>
        <td><%= image_tag(produit.images.first.image_url) %></td>
        <td>
          <%= produit.description %>
          <br>
          <% produit.tags.each do |tag| %>
            Tag <%= tag.niveau %>
          <% end %>
        </td>
        <td>
          <%= produit.prix %> euros
        </td>
        <td>
          <%= produit.poids %> kg
          <br>
          <div class="show"><%= link_to 'En savoir plus', produit %></div>
        </td>
        <td><%= produit.tag %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<%= link_to 'New Produit', new_produit_path %>
