<p id="notice"><%= notice %></p>
<h2><%= @produit.nom %></h2>
<table class="table">
  <tbody>
      <tr>
        <td>
          <div class="big_image">
            <%= image_tag(@produit.images.first.image_url) %>
          </div>
          <div class="small_image">
            <% @produit.images[1..-1].each do |img| %>
              <%= image_tag(img.image_url) %>
            <%end%>
          </div>
        </td>
        <td>
          <div class="show_left">
            Description:
            <%= @produit.description %>
            <br>
          </div>

          <div class="show_left">
            Poids: <%= @produit.poids %> kg
            <br>
            Prix TTC: <%= @produit.prix %> euros
            <br>
          </div>

          <div class="show_left">
            Catégories attachées:
            <% @produit.tags.each do |tag| %>
              Catégorie <%= tag.niveau %>, 
            <% end %>
          </div>
        </td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_produit_path(@produit) %> |
<%= link_to 'Back', produits_path %>
